In [60]:
# Pandas Exercise - 1

import numpy as np
import pandas as pd

df_movies = pd.read_csv('./data/movies.csv')

df_rate = pd.read_csv('./data/ratings.csv')





import numpy as np
import pandas as pd


df1 = pd.DataFrame(df_movies)
df2 = pd.DataFrame(df_rate)
df3 = pd.merge(df1, df2, on='movieId', how='inner') # 학번을 기준으로 inner join
display(df3)

# 1. 사용자가 평가한 모든 영화의 전체 평균 평점
print(df3['rating'].mean()) #3.501556983616962

# 2. 각 사용자별 평균 평점

df_group_dept = df2.groupby(df2['userId'])
display(df_group_dept['rating'].mean())

# 3. 각 영화별 평균 평점
df_group_movieid = df3.groupby(df3['title'])
display(df_group_movieid['rating'].mean())

# 4. 평균 평점이 가장 높은 영화의 제목(동률이 있을 경우 모두 출력)
df_group_movieid = df3.groupby(df3['title'])
df_ever_movie = df_group_movieid[['rating']].mean()
df_max = df_ever_movie.max()


dd = df_ever_movie[df_ever_movie[['rating']]==df_max]

df_na = dd.dropna(how ='any' ,inplace = False) # how= 'any' > NaN이 하나라도 행에 포함되어있으면 행자체를 삭제
display(df_na)


# 5. Comedy영화 중 가장 평점이 낮은 영화의 제목


# 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점은?

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

3.501556983616962

userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64

title
'71 (2014)                                   4.000000
'Hellboy': The Seeds of Creation (2004)      4.000000
'Round Midnight (1986)                       3.500000
'Salem's Lot (2004)                          5.000000
'Til There Was You (1997)                    4.000000
                                               ...
eXistenZ (1999)                              3.863636
xXx (2002)                                   2.770833
xXx: State of the Union (2005)               2.000000
¡Three Amigos! (1986)                        3.134615
À nous la liberté (Freedom for Us) (1931)    1.000000
Name: rating, Length: 9719, dtype: float64

                                  rating
title
'Salem's Lot (2004)                  5.0
12 Angry Men (1997)                  5.0
12 Chairs (1976)                     5.0
20 Million Miles to Earth (1957)     5.0
61* (2001)                           5.0
...                                  ...
Won't You Be My Neighbor? (2018)     5.0
Wonder Woman (2009)                  5.0
World of Glory (1991)                5.0
Wow! A Talking Fish! (1983)          5.0
Zeitgeist: Moving Forward (2011)     5.0

[296 rows x 1 columns]

In [186]:
# Pandas Exercise - 2

import numpy as np
import pandas as pd

mpg_txt = pd.read_csv('./data/mpg.txt')


df_mpg = pd.DataFrame(mpg_txt)
display(df_mpg)


# 주요컬럼 설명
# manufacturer : 제조회사
# displ : 배기량
# cyl : 실린더 개수
# drv : 구동 방식
# hwy : 고속도로 연비
# class : 자동차 종류
# model : 자동차 모델명
# year : 생산연도
# trans : 변속기 종류
# cty : 도시 연비
# fl : 연료 종류


# 1. displ(배기량)이 4 이하인 자동차와 5 이상인 자동차 중 
# 어떤 자동차의 hwy(고속도로 연비)가 평균적으로 더 높은지 확인하세요.
# under_4 = df_mpg[df_mpg['displ']<=4]['hwy'].mean()
# upper_5 = df_mpg[df_mpg['displ']>=5]['hwy'].mean()
# if under_4 > upper_5:
#     print('배기량이 4이하인 자동차의 평균 고속도로 연비가 높음')
# elif under_4 == upper_5:
#     print('평균 연비가 같음')
# else:
#     print('배기량이 5이상인 자동차가 평균 고속도로 연비가 높음')

    
# 2. 자동차 제조 회사에 따라 도시 연비가 다른지 알아보려고 한다. 
# "audi"와 "toyota" 중 어느 manufacturer(제조회사)의 cty(도시 연비)가 
# 평균적으로 더 높은지 확인하세요.

# audi_cty = df_mpg[df_mpg['manufacturer']=='audi']['cty'].mean()
# toyota_cty = df_mpg[df_mpg['manufacturer']=='toyota']['cty'].mean()

# if audi_cty > toyota_cty:
#     print('audi의 평균 도시연비가 높음')
# elif audi_cty < toyota_cty:
#     print( 'toyota의 평균 도시연비가 높음')
# else:
#     print('toyota와 auid의 평균 도시연비가 같음')
    
    
# 3. "chevrolet", "ford", "honda" 자동차의 고속도로 연비 평균을 알아보려고 한다. 
# 이 회사들의 데이터를 추출한 후 hwy(고속도로 연비) 평균을 구하세요.
# chevrolet_cty = df_mpg[df_mpg['manufacturer']=='chevrolet']['hwy'].mean()
# ford_cty = df_mpg[df_mpg['manufacturer']=='ford']['hwy'].mean()
# honda_cty = df_mpg[df_mpg['manufacturer']=='honda']['hwy'].mean()

# print (' chevrolet : {} \n ford : {} \n honda : {}'.format(chevrolet_cty,ford_cty,honda_cty))


# 4. "audi"에서 생산한 자동차 중에 어떤 자동차 모델의 hwy(고속도로 연비)가 
# 높은지 알아보려고 한다. "audi"에서 생산한 자동차 중 hwy가 1~5위에 해당하는 
# 자동차의 데이터를 출력하세요.
# audi_df = df_mpg[df_mpg['manufacturer']=='audi'].sort_values(by = 'hwy', ascending= False)
# display(audi_df.head())


# 5. mpg 데이터는 연비를 나타내는 변수가 2개입니다. 
# 두 변수를 각각 활용하는 대신 하나의 통합 연비 변수를 만들어 사용하려 합니다. 
# 평균 연비 변수는 두 연비(고속도로와 도시)의 평균을 이용합니다. 
# 회사별로 "suv" 자동차의 평균 연비를 구한후 내림차순으로 정렬한 후 1~5위까지 데이터를 출력하세요.
# df_mpg['ever_y'] = df_mpg['hwy'] - df_mpg['cty']
# display(df_mpg.sort_values(by = 'ever_y' ,ascending= False).head())



# 6. mpg 데이터의 class는 "suv", "compact" 등 자동차의 특징에 따라 
# 일곱 종류로 분류한 변수입니다. 어떤 차종의 도시 연비가 높은지 비교하려 합니다. 
# class별 cty 평균을 구하고 cty 평균이 높은 순으로 정렬해 출력하세요.
# df_class = df_mpg['cty'].groupby(df_mpg['class']).mean()
# display(df_class.sort_values(ascending= False))


# 7. 어떤 회사 자동차의 hwy(고속도로 연비)가 가장 높은지 알아보려 합니다. 
# hwy(고속도로 연비) 평균이 가장 높은 회사 세 곳을 출력하세요.
# df_manu = df_mpg['hwy'].groupby(df_mpg['manufacturer']).mean()
# display(df_manu.sort_values(ascending= False).head(3))




# 8. 어떤 회사에서 "compact" 차종을 가장 많이 생산하는지 알아보려고 합니다. 
# 각 회사별 "compact" 차종 수를 내림차순으로 정렬해 출력하세요.
# df_class = df_mpg[df_mpg['class'] == 'compact'].groupby(df_mpg['manufacturer'])
# display(df_class.size().sort_values(ascending= False))

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

manufacturer
audi          15
volkswagen    14
toyota        12
subaru         4
nissan         2
dtype: int64

In [245]:

import pandas
import savReaderWriter

with savReaderWriter.SavReader('./data/Koweps_hpc10_2015_beta1.sav', ioUtf8=True, ioLocale = None) as reader:
    df = pandas.DataFrame(reader.all(), columns = [s for s in reader.header])

# print(df.shape)      # # (16664, 957)
# df['h10_g3'].head()  # 성별
# df['h10_g4'].head()  # 태어난 연도

OSError: dlopen(/Users/admin/opt/anaconda3/envs/data_env/lib/python3.7/site-packages/savReaderWriter/spssio/macos/libicuuc48.1.dylib, 6): Library not loaded: @executable_path/../lib/libicudata48.1.dylib
  Referenced from: /Users/admin/opt/anaconda3/envs/data_env/lib/python3.7/site-packages/savReaderWriter/spssio/macos/libicuuc48.1.dylib
  Reason: image not found