In [1]:
# 1. 기상 관측 이래, 서울의 최고 기온이 가장 높았던 날은 언제였고, 몇도인가요?
# 2. 역사적으로 일교차가 가장 큰 날짜는 몇년 몇월 몇일 인가요?
# 3. 1년 중 평균적으로 일교차가 가장 큰 날짜는 몇월 몇일 인가요?
# 4. 가장 덥다고 알려진 대구보다 서울이 더 더운날이 가장 많은 연도는 언제인가요?

import numpy as np

# arr = np.loadtxt('./data/seoul.csv', delimiter = ',', skiprows = 1, dtype=np.object, encoding='utf-8')
arr_seoul = np.loadtxt("./data/seoul.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')
arr_daegu = np.loadtxt("./data/seoul.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')
high_temp_arr = arr_seoul.T[4]
high_temp = (high_temp_arr[high_temp_arr!='']).astype(np.float64).max()
print(high_temp)
print(arr_seoul.T[0][high_temp_arr == str(high_temp)])

39.6
['2018-08-01']

In [73]:
# 2. 역사적으로 일교차가 가장 큰 날짜는 몇년 몇월 몇일 인가요?


import numpy as np

# arr = np.loadtxt('./data/seoul.csv', delimiter = ',', skiprows = 1, dtype=np.object, encoding='utf-8')
arr_seoul = np.loadtxt("./data/seoul.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')
arr_daegu = np.loadtxt("./data/seoul.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')
morning_temp_arr = arr_seoul.T[3]
night_temp_arr = arr_seoul.T[4]
morning_temp = (morning_temp_arr[night_temp_arr!='']).astype(np.float64)
night_temp = (night_temp_arr[night_temp_arr!='']).astype(np.float64)
sub_tmp_arr = night_temp - morning_temp
sub_tmp = np.max(sub_tmp_arr)
arr_index = np.where(sub_tmp_arr == sub_tmp)
print(sub_tmp)
print(arr_seoul.T[0][arr_index])

['7.9' '7.9' '13.1' ... '19.2' '19.5' '17.5']
21.8
['1942-04-19']

In [72]:
# 3. 1년 중 평균적으로 일교차가 가장 큰 날짜는 몇월 몇일 인가요?
import numpy as np
from datetime import datetime

arr_seoul = np.loadtxt("./data/seoul.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')

date_arr = np.array(arr_seoul.T[0], dtype = 'datetime64[Y]')
print(date_arr)

# print(np.array(arr_seoul).T[np.array(arr_seoul).T[4] - np.array(arr_seoul).T[3]])

['1907' '1907' '1907' ... '2020' '2020' '2020']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [102]:
# 4. 가장 덥다고 알려진 대구보다 서울이 더 더운날이 가장 많은 연도는 언제인가요?
arr_seoul = np.loadtxt("./data/seoul.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')
arr_daegu = np.loadtxt("./data/daegu.csv", dtype=np.object, delimiter=',', skiprows = 1, encoding='CP949')

# arr_sub = arr_seoul.T[4] - arr_daegu.T[4]

night_temp_seoul = (arr_seoul.T[4][arr_seoul.T[4]!='']).astype(np.float64)
print (night_temp_seoul)

night_temp_daegu = (arr_daegu.T[4][arr_daegu.T[4]!='']).astype(np.float64)
print (night_temp_daegu)

# print(night_temp_seoul[arr_seoul.T[0] == arr_daegu.T[0]][night_temp_seoul - night_temp_daegu >0])
print(arr_seoul.T[0])
print(arr_daegu.T[0])
print(night_temp_seoul[arr_seoul.T[0] == arr_daegu.T[0]])

[20.7 22.  21.3 ... 27.3 24.4 20.6]
[ 0.8  4.8  7.6 ... 28.6 28.9 23.7]
['1907-10-01' '1907-10-02' '1907-10-03' ... '2020-09-05' '2020-09-06'
 '2020-09-07']
['1907.1.31' '1907.2.1' '1907.2.2' ... '2020.9.14' '2020.9.15' '2020.9.16']
[]

/Users/admin/opt/anaconda3/envs/data_env/lib/python3.7/site-packages/ipykernel_launcher.py:16: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  app.launch_new_instance()